h1, h2, h3, p {

}

body {
    text-align: center;
    font-size: 65px;
}

h1 {
    color: darkmagenta;
}

h2 {
    color: deeppink;
}

h3 {
    color: darkviolet;
}

p {
    color: fuchsia;
}

 @-webkit-keyframes argh-my-eyes {
    0%   { background-color: darkmagenta; }
    49% { background-color: darkmagenta; }
    50% { background-color: deeppink; }
    99% { background-color: deeppink; }
    100% { background-color: darkmagenta; }
  }
  @-moz-keyframes argh-my-eyes {
    0%   { background-color: darkviolet; }
    49% { background-color: darkviolet; }
    50% { background-color: fuchsia; }
    99% { background-color: fuchsia; }
    100% { background-color: darkviolet; }
  }
  @keyframes argh-my-eyes {
    0%   { background-color: darkmagenta; }
    49% { background-color: fuchsia; }
    50% { background-color: deeppink; }
    99% { background-color: darkorchid; }
    100% { background-color: darkviolet; }
  }
  body {
  -webkit-animation: argh-my-eyes 1s infinite;
  -moz-animation:    argh-my-eyes 1s infinite;
  animation:         argh-my-eyes 1s infinite;
}

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

.element {
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: indianred;
    border-radius: 100%;
  }
  50% {
    background-color: hotpink;
  }
  100% {
    transform: scale(1.5);
    background-color: deeppink;
  }
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
