/* Website template by freewebsitetemplates.com */

body {
    background: url(../images/androidbackground.png) repeat left top;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


/* HEADER */

#header div div#logo {
    background: none;
    border: none;
    display: block;
    left: 400px;
    padding: 0;
    position: absolute;
    top: 25px;
    width: 172px;
}

#header div ul {
    height: 43px;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 960px;
}

#header div ul li {
    display: inline-block;
}

#header div ul li.home {
    left: 56px;
    position: absolute;
    top: 0;
}

#header div ul li.video {
    left: 194px;
    position: absolute;
    top: 0;
}

#header div ul li.about {
    left: 680px;
    position: absolute;
    top: 0;
}

#header div ul li.contact {
    left: 830px;
    position: absolute;
    top: 0;
}

#header div ul li a {
    color: greenyellow;
    cursor: pointer;
    font-weight: bold;
    height: 43px;
    letter-spacing: 1px;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
}

#header div ul li.current a {
    color: darkgreen;
}

#header div {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 960px;
    z-index: 1;
}


/* END HEADER */

caption {
    text-align: center;
}

h1 {
    text-align: center;
    color: greenyellow;
    font-weight: bold;
}

#article {
    margin: 10%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

#video {
    font-weight: bold;
    top: 150px;
    margin: 50%;
    text-align: center;
}

#formulier {
    border-style: solid;
    border-color: gray;
    text-align: center;
    top: 180px;
}

footer {
    text-align: center;
    font-weight: bold;
    color: white;
}

tr,
td,
th {
    color: brown;
    border: 1px solid black;
}

#about {
    max-width: 45%;
    border: 2px ridge white;
    text-align: center;
    font-weight: bold;
    top: 200px;
    float: left;
}

#list {
    border: 2px ridge white;
    color: aqua;
    list-style: square;
    max-width: 50%;
    height: 500px;
    font-weight: bold;
    top: 200px;
    float: right;
}