body {
    font-family: 'Exo', sans-serif;
    background-image: url(images/BG.jpg);
    background-color: #1e201d;
    overflow: hidden;
}
#Header {
    margin-left: auto;
    margin-right: auto;
    width: 39%;
}
#Nav li {
    padding-right: 20px;
    list-style: none;
    display: inline;
}
#Wrapper {
    margin-left: 200px;
    width: 80%;
    overflow: hidden;
    position: relative;
    border: 6px;
    border-bottom-style: groove;
    border-bottom-color: #fe0002;
}
#Wrapper ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 10;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
#Wrapper ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 8px;
    padding: 0;
    position: relative;
    right: 50%;

}
#Wrapper ul li a {
    margin: 0 0 0 1px;
    padding: 3px 10px;
    color: #f00;
    text-decoration: none;
    line-height: 1.3em;
}
#Wrapper ul li a:hover {
    background: #e81515;
    color: #000;
}
#Wrapper ul li a.active,
#Wrapper ul li a.active:hover {
    background: #000;
    font-weight: bold;
}
a {
    color: #969696;
}
a:hover {
    color: #ff0707;
}
a:visited {
    color: #fff;